<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "edu.indwes.cis.ddpoc"
	version 	= "1.1.0">

	<name>Diction Doctor Proof of Concept</name>

	<description>
		Second Iteration of DD Proof of Concepts
	</description>

	<author href="http://dkneuma.github.com"
		email="dkneuma@gmail.com">
		Dan Neumann
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
		<gap:platform name="ios" />
	</gap:platforms>
	<access origin="https://levi.cis.indwes.edu" />
	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>